.venv
**/__pycache__/
.DS_Store
deploy_rl_swarm_vps.log
.env
.next/
temp-data/
swarm.pem
logs/
runs/
model_output_samples/
grpo_trainer_lora_model/
unsloth_compiled_cache/

node_modules/
web/ui/dist/

/bazel-*
/external
/tmp

dist/
MODULE.bazel.lock
**/.direnv
.tmux.conf
deploy_rl-swarm-vps.log

user/
user/keys/
user/logs/
user/models/

configs/
genrl-swarm/

result
/.idea/
